@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Nav Bar */
.logo{
    width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 20%;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    margin: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration:none;
    color:whitesmoke;
    font-size: 16px;
    font-family: 'Ubuntu',sans-serif;
}
.nav-list li a:hover{
    text-decoration:none;
    color:gray;
}
.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 18px;
    border:3px solid whitesmoke;
    border-radius: 9px;
}
.background{
    background:rgb(0, 0, 0, 0.7) url('../Images/');
    background-size: cover;
    background-blend-mode: darken;
}
/* Home, About and Services */
.firstSection{
    height:470px;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width: 30%;
}
.secondHalf img{
    width: 140%;
    border: 4px solid whitesmoke;
    border-radius: 150px;
    display: block;
    margin-left:54px;
}
.text-big{
    font-size: 52px;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 23px;
}
.text-small{
    font-size: 18px;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 23px;
}
.text-center {
    margin-bottom: 1rem;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 8px;
    background: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 18px;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.btn-dark{
    color: black;
    border: 2px solid black; 
} 
.section{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu',sans-serif;
}
.section-left{
    flex-direction: row-reverse;
}
.paras{
    padding: 0 65px;
}
.sectionTag{
    padding: 1rem;
    text-align: center;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 190px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 16px;
    margin-bottom: 19px;
}
/* Contact */
.contact{
    background-color: grey;
    height: 550px;

}
.text-center{
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    padding-top: 30px;
    font-size: 35px;
}
.form{
    max-width:62%;
    margin: 25px auto;
}
.form-input{
    margin: 7px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 6px;
}
.text-footer{
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:35px;
    display: none;
}
.line{
    width: 33px;
    background-color: whitesmoke;
    height: 4px;
    margin: 5px 3px;
}
